#download {
    position: fixed;
    top: 10px;
    right: 10px;
}

body {
    background-color: skyblue;
}

h1 {
    color: black;
}

a {
    font: bold 20px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

a:hover {
    background-color: grey;
    border-top: 2px solid #CCCCCC;
    border-right: 3px solid #333333;
    border-bottom: 3px solid #333333;
    border-left: 2px solid #CCCCCC;
}